data/*.bz2
.vscode/
__pycache__/
ETM/data/
ETM/results/
ETM/scripts/*.out
ETM/*out
ETM/embeddings.txt
LDA/data/
Reddit_Scraper/Credentials.txt
Credentials.txt

LDA/models/model_backkup.zip
video/P3 Project Update.mp4
Verified_Credentials.txt
.vs/VSWorkspaceState.json
.vs/Topic-Modeling/v16/.suo
.vs/slnx.sqlite
.ipynb_checkpoints/